<div id="header">
  <div class="logo">
    <a href="#">Hotfix Daily</a>
  </div>
  <nav>
    <ul>
      <ng-container *ngFor="let item of displayCategories.important">
        <li>
          <a (click)="selectCategory(item)" href="">{{ item.categoryName }}</a>
        </li>
      </ng-container>
      <li>
        <ng-container *ngIf="displayCategories.more.length">
          <a href="">More</a>
          <ul class="mega-dropdown">
            <li class="row">
              <ng-container *ngFor="let moreCat of displayCategories.more">
                <ul class="mega-col">
                  <ng-container *ngFor="let category of moreCat">
                    <li>
                      <a href="">{{ category.categoryName }}</a>
                    </li>
                  </ng-container>
                </ul>
              </ng-container>
              <!-- <ul class="mega-col">
                <li><a href="#">About</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Contact</a></li>
              </ul> -->
            </li>
          </ul>
        </ng-container>
      </li>
    </ul>
  </nav>
  <!-- <div class="about">
    <a href="https://github.io/hotfixdaily/hotfixdaily.github.io"
      >View On Github</a
    >
  </div> -->
</div>
