<br />

<div class="preview-wrapper" (click)="openBlogPost()">
  <div class="preview-content">
    <h2>{{ blogData.headline }}</h2>
    <div class="post-description">{{ blogData.description }}</div>
    <div class="about-blog">
      <div>{{ blogData.timestamp.seconds * 1000 | date }}</div>
      <div>, &nbsp;{{ blogData.author }}</div>
    </div>
    <!-- <div class="author">{{blogData.author}}</div> -->
    <!-- <div>{{ blogData.timestamp }}</div> -->
  </div>
  <div class="preview-image" #previewImage>
    <!-- <img
      src="https://hotfixdaily-media.s3.ap-south-1.amazonaws.com/whynodejsefficient/custom-languages.png"
      alt=""
    /> -->
  </div>
</div>
